@charset "utf-8";




    body {  background-color: dimgrey; font-family: Arial, Helvetica, sans-serif; font-size: 20px; }
        H1 {color: darkorange; background-color: dimgrey; }
        h2 {color: khaki;  }
        
        p {text-align: justify; }
    

