@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px; 
 
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;


}

header > p {
    padding-bottom: 50px;



}

a { color: white;
    text-decoration: none;
    font-weight: bolder;


}

section { 
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;


}

section.normal {
    background-color: white;
    color: black;


}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;


}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.253);
    width: 300px;


}



a:hover {
    text-decoration: underline; 

}

footer {
    background-color:  black;
    color: white;
    font-size: larger;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;


}